VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_STT_MODE=proxy
VITE_STT_WS_URL=ws://127.0.0.1:8020/ws/transcribe
VITE_STT_PROXY_WS_URL=ws://127.0.0.1:8000/ws/stt-proxy
VITE_STT_CLIENT_PLATFORM=web
VITE_STT_PROTOCOL_VERSION=1.0
VITE_STT_AUDIO_FORMAT=pcm_s16le
VITE_STT_CHANNELS=1
VITE_STT_CHUNK_MS=40
VITE_STT_PING_INTERVAL_MS=2500

